/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

ion-card {
  box-shadow: none;
}

.header-md {
  box-shadow: 2px 4px 5px #f7f7f700;
}

ion-searchbar,
.sc-ion-searchbar-md-h {
  --box-shadow: none;
}

.searchbar-input.sc-ion-searchbar-md {
  border-radius: 10px;
}
